<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="weitongManager.Properties.Settings.weitongConnectionString"
            connectionString="server=localhost;User Id=weitong;password=weitong;database=weitong"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>